/* Icon font
-------------------------------------------------------------- */
@charset 'UTF-8';

@font-face {
    font-family: 'roboblog';
    src:url('../font/roboblog.eot');
    src:url('../font/roboblog.eot?#iefix') format('embedded-opentype'),
        url('../font/roboblog.woff') format('woff'),
        url('../font/roboblog.ttf') format('truetype'),
        url('../font/roboblog.svg#roboblog') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'roboblog' !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^='roboblog-']:before,
[class*=' roboblog-']:before {
    font-family: 'roboblog' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.roboblog-icon:before {
    content: 'a';
}

#menu-posts-rbfeed .wp-menu-image:before {
    content: 'a';
    font-family: 'roboblog' !important;
}


/* General styles
-------------------------------------------------------------- */
.roboblog-hidden {
    display: none;
}

.roboblog-clearfix:after {
    display: block;
    visibility: hidden;
    content: ".";
    text-indent: -9999px;
    height: 0;
}

.roboblog-wrap a {
    text-decoration: none;
}


/* Fix color picker label alignment
-------------------------------------------------------------- */
.roboblog-color-picker-label label {
    vertical-align: top;
    line-height: 24px;
}


/* Info styles
-------------------------------------------------------------- */
.roboblog-info {
    min-height: 20px;
    padding: 8px 19px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
}

.roboblog-info-notice {
    margin: 5px 0 15px;
    background-color: #ffffff;
    border: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    padding: 1px 12px;
}

.roboblog-info-notice p {
    margin: .5em 0;
    padding: 2px;
}

.roboblog-info-desc {
    display: inline-block;
    vertical-align: top;
}

.roboblog-info .roboblog-info-icon,
.roboblog-info-notice .roboblog-info-icon {
    display: inline-block;
    margin-right: 15px;
}

.roboblog-info-icon i {
    font-size: 2em;
}

.roboblog-info-desc {
    display: inline-block;
    vertical-align: top;
}

.roboblog-info.roboblog-info-normal {
    background-color: #eeeeee;
    border-color: #cccccc;
    color: #666666;
}

.roboblog-info.roboblog-info-normal i {
    color: #c5c5c5;
}

.roboblog-info.roboblog-info-warning {
    background-color: #fbeba4;
    border-color: #d7c281;
    color: #958234;
}

.roboblog-info.roboblog-info-warning i {
    color: #dcca81;
}

.roboblog-info.roboblog-info-success {
    background-color: #c4ee91;
    border-color: #71af5d;
    color: #4d7615;
}

.roboblog-info.roboblog-info-success i {
    color: #a0ca6c;
}

.roboblog-info.roboblog-info-critical {
    background-color: #fba1a3;
    border-color: #b84f5b;
    color: #981225;
}

.roboblog-info.roboblog-info-critical i {
    color: #dd767d;
}

.roboblog-info-notice.roboblog-info-normal {
    border-left: 4px solid #0099d5;
}

.roboblog-info-notice.roboblog-info-success {
    border-left: 4px solid #7ad03a;
}

.roboblog-info-notice.roboblog-info-warning {
    border-left: 4px solid #fbeba4;
}

.roboblog-info-notice.roboblog-info-critical {
    border-left: 4px solid #dd3d36;
}


/* System info page styles
-------------------------------------------------------------- */
#system-info-textarea {
    width: 800px;
    height: 400px;
    font-family: Menlo, Monaco, monospace;
    background: none;
    white-space: pre;
    overflow: auto;
    display: block;
}
